<%- include('partials/header.ejs') %>
<div class="container p-5">
  <% if(locals.episode) { %>
  <div class="info d-flex justify-content-between">
		<div class="date d-flex flex-wrap">
			<h3>Episode date:</h3>
			<h3 class="ms-2"><%= episode.posts[0].episode_date %></h3>
		</div>
		<div class="mood d-flex">
			<h3>Mood: </h3>
			<h3><%= episode.posts[0].mood %></h3>
		</div>
    <div class="star">
      <%= episode.posts[0].star ? '⭐' : '☆' %>
    </div>
  </div>
  <div class="dairy mt-5">
		<div class="wentwell">
			<h2>Went Well</h2>
			<% episode.posts[0].wentwell.forEach((ww) => { %> 
			<%- ww ? `<li contenteditable="true" class="ps-4">${ww}</li>` : `<li contenteditable="true" class="ps-4"></li>` %> 
			<% }); %>
		</div>	
		<div class="wentwrong">
			<h2>Went Wrong</h2>
			<% episode.posts[0].wentwrong.forEach((wr) => { %> 
				<%- wr ? `<li contenteditable="true" class="ps-4">${wr}</li>` : `<li contenteditable="true" class="ps-4"></li>` %>
			<% }); %>
		</div>
		<div class="learning">
			<h2>Learning</h2>
			<% episode.posts[0].learning.forEach((l) => { %> 
				<%- l ? `<li contenteditable="true" class="ps-4">${l}</li>` : `<li contenteditable="true" class="ps-4"></li>` %> 
			<% }); %>
		</div>
	</div>
	<% } else if(locals.thought){ %>
		<div class="d-flex justify-content-between">
			<div class="date d-flex flex-wrap gap-3">
				<h3>Thought date:</h3>
				<h3><%= thought.post.date.slice(0,10) %>,</h3>
				<h3 class="time d-flex flex-wrap">Time:</h3>
				<h3 ><%= thought.post.date.slice(11,19) %></h3>
			</div>
			<div class="star">
				<%= thought.post.star ? '⭐' : '☆' %>
			</div>
		</div>
		<div class="thought mt-5">
			<h3 style="color: #44423D;"><%= thought.post.thoughts %></h3>
		</div>
	<% } else { %>
		<h1>Nothing</h1>
	<% } %>
</div>
<%- include('partials/footer.ejs') %>
