<%- include('partials/header.ejs') %>
<div class="container">
    
    <div>
        <% if(locals.thoughts) { %>
            <div class="top-row mt-5 d-flex  justify-content-between">
                <!-- <div></div> -->
                <h1 class="heading">What is on My Mind ?</h1>
                <div class="addthought d-flex gap-1">
                    <form action="/newthought" method="get" onclick="this.submit()" name="new">	
                        <button class="btn btn-primary btn-lg">Add New</button>
                    </form>
                    <form action="/star">
                        <input type="hidden" name="option" id="thoughts" value="thoughts">
                        <button class="btn btn-lg btn-warning">Star</button>
                    </form>
                </div>
            </div>
            <div class="thought d-inline-flex flex-wrap mt-5">
                <% thoughts.posts.forEach((thought) => { %>
                    <div class="thought-post  border p-3 m-2 rounded shadow">
                        <form action="/thoughts/<%= thought.id %>" method="get" onclick="this.submit()" class="h-100">
                            <div class="open d-flex justify-content-between">
                                <p><%= thought.date.slice(0,10) %></p>
                                <p><%= thought.rated ? '⭐' : '☆' %></p>
                            </div>
                        </form>
                    </div>
                <% }); %>
            </div>
        <% } else if(locals.episodes) { %>
            <div class="top-row mt-5 d-flex  justify-content-between">
                <!-- <div></div> -->
                <h1 class="heading">Episodes</h1>
                <div class="addepisode d-flex gap-1">
                    <form action="/newepisode" method="get" onclick="this.submit()" name="episode">	
                        <button class="btn btn-primary btn-lg">Add New</button>
                    </form>
                    <form action="/star">
                        <input type="hidden" name="option" id="episode" value="episodes">
                        <button class="btn btn-lg btn-warning">Star</button>
                    </form>
                </div>
            </div>
            <div class="episode d-inline-flex flex-wrap mt-5">
                <% episodes.posts.forEach((episode) => { %>
                    <div class="episode-post  border p-3 m-2 rounded shadow">
                        <form action="/episodes/<%= episode.episode_id %>" method="get" onclick="this.submit()" class="h-100">
                            <div class="open d-flex justify-content-between">
                                <p><%= episode.episode_date %></p>
                                <p><%= episode.star ? '⭐' : '☆' %></p>
                            </div>
                        </form>
                    </div>
                <% }); %>
            </div>
        <% }else { %>
            <div class="no-thought mt-5 d-flex justify-content-center align-items-center">
                <h1 style="color: #4A4A4A;">Nothing Found</h1>
            </div>
        <% } %>
    </div>
</div>
<%- include('partials/footer.ejs') %>